@model ListModuleViewModel

@{ 
    ViewData["CourseId"] = Model.CourseId;
}

    <h1>@Model.CourseTitle</h1>
    @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {       
        <p>
            <a asp-action="Create" asp-route-id=@Model.CourseId class="btn btn-primary mr-3">Create New Module</a>
            <a asp-area="Identity" asp-page="/Account/Register" asp-route-CourseId="@Model.CourseId" class="btn btn-primary mr-3">Add a student to this course</a>
            <a asp-controller="Courses" asp-action="Edit" asp-route-id="@Model.CourseId" class="btn btn-primary">Edit Course</a>
        </p>

    }
@if (Model.ModuleList.Count() != 0)
{


    <div class="card-deck">
        @foreach (var module in Model.ModuleList)
        {
            <div class="card">
                <a asp-controller="Activities" asp-action="Index" asp-route-id="@module.Id">
                    <h5 class="card-title">@module.Title</h5>
                    <p class="card-body">@module.Description</p>
                    <div class="card-footer">End Date: @module.EndDate</div>
                </a>
            </div>
        }
    </div>
 }
 else
 {       
         <p>No modules in this course</p>
 }

