@model ListModuleViewModel

@{ 
    ViewData["CourseId"] = Model.CourseId;
}

@if (Model.ModuleList.Count() != 0)
{

    <h1>@Model.CourseTitle</h1>
    @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        <p>
          
           
        </p>
        <p>
            <a asp-action="Create" asp-route-id=@Model.CourseId>Create New Module</a> <span>|</span>
            <a asp-area="Identity" asp-page="/Account/Register" asp-route-CourseId="@Model.CourseId" class="btn btn-primary">Add a student to this course</a><span>|</span>
            <a asp-controller="Courses" asp-action="Edit" asp-route-id="@Model.CourseId">Edit Course</a>
        </p>

    }

    <div class="card-deck">
        @foreach (var module in Model.ModuleList)
        {
            <div class="card">
                <a asp-controller="Activities" asp-action="Index" asp-route-id="@module.Id">
                    <h5 class="card-title">@module.Title</h5>
                    <p class="card-body">@module.Description</p>
                    <div class="card-footer">End Date: @module.EndDate</div>
                </a>
            </div>
        }
    </div>
 }
 else
 {
     @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
     {
         <p>
             <a asp-action="Create" asp-route-id=@Model.CourseId>Create New Module</a>
         </p>
         <p>No modules in this course</p>
     }
 
 }

