@model IEnumerable<Lms.MVC.UI.Models.ViewModels.ActivityViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.FirstOrDefault().ModuleTitle</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-deck">
    @foreach (var activity in Model)
    {
        <div class="card">
            <a asp-controller="Activities" asp-action="Details" asp-route-id="@activity.Id">
                <h5 class="card-title">@activity.Title</h5>
                <p class="card-body">@activity.Description</p>
                <div class="card-footer text-muted">End Date: @activity.EndDate</div>
            </a>
        </div>
    }
</div>
