@model ListActivityViewModel


@if (Model.ActivityList.Count() != 0)
{
    <h1>@Model.ModuleTitle</h1>
    @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        <p>
            <a asp-action="Create" asp-route-id="@Model.ModuleId">Create New Activity</a>
        </p>
    }

    <div class="card-deck">
        @foreach (var activity in Model.ActivityList)
        {
            <div class="card">
                <a asp-controller="Activities" asp-action="Details" asp-route-id="@activity.Id">
                    <h5 class="card-title">@activity.Title</h5>
                    <p class="card-body">@activity.Description</p>
                    <div class="card-footer">End Date: @activity.EndDate</div>
                </a>
            </div>
        }
    </div>
}
else
{
    @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        <p>
            <a asp-action="Create" asp-route-id="@Model.ModuleId">Create New Activity</a>
        </p>
        <p>No activities in this module</p>
    }
}