@model IEnumerable<Lms.MVC.UI.Models.ViewModels.CourseListViewModel>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@Context.Request.Cookies.TryGetValue("ShowOnlyMyCourses", out string showOnlyMyCourses);

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>

    @if (showOnlyMyCourses == "true")
    {
        <a class="btn btn-primary" asp-action="ToggleMyCourses">Show all courses</a>
    }
    else
    {
        <a class="btn btn-primary" asp-action="ToggleMyCourses">Show only my courses</a>
    }
</p>
<form>
    <div class="input-group">
        <input type="submit" value="Search" />
        <input type="text" name="Search" class="form-control" placeholder="Search..." autofocus>
        <button type="reset" class="btn bg-transparent" tabindex="-1" style="margin-left: -40px; z-index: 100;">
            <i class="fa fa-times"></i>
        </button>
    </div>   
</form>

<form id="ClearSearchForm">
    <a href="#" onclick="document.getElementById('ClearSearchForm').submit();">Clear Search</a>
    <input type="hidden" name="Search" value="" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @if (item.Users.Contains(userManager.GetUserAsync(User).Result))
                    {
                        <a class="btn btn-primary" asp-action="RegisterForCourseToggle" asp-route-id="@item.Id">Unregister For Course</a> <br />
                    }
                    else
                    {
                        <a class="btn btn-primary" asp-action="RegisterForCourseToggle" asp-route-id="@item.Id">Register for course</a> <br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>