@model IEnumerable<Lms.MVC.UI.Models.ViewModels.CourseListViewModel>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @if (item.Users.Contains(userManager.GetUserAsync(User).Result))
                    {
                        <a type="Button" asp-action="RegisterForCourseToggle" asp-route-id="@item.Id">UnRegisterForCourse</a> <br />
                    }
                    else
                    {
                        <a type="Button" asp-action="RegisterForCourseToggle" asp-route-id="@item.Id">Register for course</a> <br />
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>
